#titulo
{
    color: blue;  
    text-shadow: 2px 2px yellow;
}

fieldset
{
    background-color: aqua;
    padding: 10px;
    margin: 20px;
}

legend
{
    background-color: red;
    color: white;
}

input
{
    background-color: yellow;
}
.fecha
{
    background-color: white;
}

.boton
{
    background-color: #f48f84;
    width: 100px;
    height: 35px;
    border-radius: 5px;
}